Screen {
    align: center middle;
}

SidebarWidget {
    border: solid purple;
}

GameScreenWidget {
    border: solid red;
}

UserInventoryWidget {
    border: solid cyan;
    column-span: 2;
}

UserInventoryWidget > * {
    border: dashed green;
    height: 100%;
}

InputWidget {
    border: wide white;
    column-span: 2;
}

.user-chips {
    align: center middle;
    border: none;
}

.user-chips * {
    width: auto;
}
